<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Project on news</title>
    <link rel="icon" href="{% static 'images/news.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <h1>Welcome to Kiran News Portal</h1>
    <img src="{% static 'images/news.jpg' %}" alt="">
    <ul>
        <li>
            <a href="movies/">Movies Information</a>
        </li>
        <li>
            <a href="sports/">Sports Information</a>
        </li>
        <li>
            <a href="politics/">Politics Information</a>
        </li>
    </ul>
</body>
</html>